/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
 .fl-page{
	 width: auto!important;
}
body.admin-bar button.rmp_menu_trigger {
    margin-top: 32px;
}

.active-gallery-modal .product-box a.fl-button:hover *{
	color:#fff !important;
}
footer i.fas.fa-map-marker-alt {
    margin-top: 30px;
}
.product-detail-layout-6 .product-colors ul li, .product-detail-layout-6 .product-colors ul li.found{
	margin-right: 5px !important;
}
.fl-page-bar-text.fl-page-bar-text-1 a.phone.retailer{
	display: inline-block;
	float:left;
	line-height:40px;
}
.top-bar p.inline_address,
.fl-page-bar-text.fl-page-bar-text-1 ul.storename{
	display: inline-block;
	margin-left:30px;
}
#menu-top-bar-menu{
	line-height:60px;
	font-size:13px;
	align-items: baseline;
}
.product-detail-layout-5 .product-variations{
	margin-top:0px !important;
}
.full-width-img {
    text-align: center;
}
.page-id-1130 .fl-builder-content a.fl-button{
	text-align:center;
}




#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #384E77;
  border-top: 1px solid #fff;
}


#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder>button.mgbutton {
  background-color: #1c4e89  !important;
  color: #fff !important;
  border-radius: 0px!important;
  font-family: "PT Sans Narrow",sans-serif !important;
  font-weight: 400!important;
  text-transform: uppercase!important;
  box-shadow: none !important;
  border: none!important;
}
.moove-gdpr-button-holder>button.mgbutton:hover {
  background: #fb9895  !important;
  color: #fff!important;
  text-transform: uppercase!important;
  border-color: #fb9895 !important;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #1c4e89 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
  color: #fff !important;
  background-color: #fb9895 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #fb9895 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #1c4e89 !important;
  color: #fff!important;  
  border: 0px!important;
  border-radius: 0px!important;
  font-family: "PT Sans Narrow",sans-serif !important;
  font-weight: 400!important;
  text-transform: uppercase!important;  
    
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #fb9895  !important;
  color: #fff !important;
  border: 0px!important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #1c4e89 !important;
}


/* Floorte Additional css start */
@media (max-width: 768px){
    .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col > .fl-col-content{
		padding-top: 10px;
		padding-right: 0px;
		padding-bottom: 10px;
		padding-left: 0px;
    }
    .fl-builder-content-97052 .fl-col[data-node] .fl-col-content{
    margin: 0px;
    }
    .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img{
    padding: 0 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495deccd.fl-row > .fl-row-content-wrap{
    padding-bottom: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc9.fl-row > .fl-row-content-wrap{
    margin-top: -49px!important;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd6 > .fl-module-content, .fl-builder-content-97052 .fl-node-5d7f5495dece3 > .fl-module-content{
    margin-top: 20px!important;
    }
    .fl-builder-content-97052 .fl-node-5dcd4a3e3035b.fl-module > .fl-module-content{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba > .fl-col-content{
    margin-right: 10px;
    margin-left: 10px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decb6.fl-row > .fl-row-content-wrap{
    padding-top: 0px;
    }
    .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    }
    .fl-builder-content-97052 .fl-node-5d83277bab2cd.fl-module > .fl-module-content{
    margin-top: 30px;
    padding: 0px 20px;
    }
    .fl-builder-content-97052 .fl-visible-desktop-medium{
    display: none;
    }
    .fl-builder-content-97052 .fl-visible-mobile{
    display: block;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd8{
    flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd9 {
    flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col > .fl-col-content {
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
    text-align: center; 
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col > .fl-col-content {
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495dece2 > .fl-module-content{
    margin: 20px 0!important;
    }
    }
    /* Floorte Additional css end */
/*New pdp css */
.container .row .product-detail-layout-6 #product-images-holder>div{
    background-size: cover!important;
}
@media(max-width: 1024px){
	.product-detail-layout-6 .toggle-image-thumbnails {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media(max-width: 768px){
	.product-detail-layout-6 .imagesHolder #roomvo {
		width: 100%!important;
		padding-bottom: 0;
		left: 0px!important;
		padding: 0px !important;
		margin: 0px !important;
	}
}
@media (max-width: 500px){
	.product-detail-layout-6 .image-expander {
		right: 25px!important;
	}
}
.product-detail-layout-6  .toggle-image-thumbnails{
    width: 100%;
}
.product-detail-layout-6 .slide.selected-slide:after {
	height: 30%!important;
	width: 30%!important;
	background-size: contain;
	top: 30%!important;
	left: 35%;
}
.gfield_captcha_input_container.math_medium input {
    width: auto !important;
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select{
	border-color: rgba(0,0,1,0.1);
	background-color:#fcfcfc;
}
.fl-post-image-beside,
.fl-post-image-beside img {
    width: 100%;
    max-height: 500px;
}
.product-grid.btn-grey .product-variations1>h5, .product-grid.btn-grey>h4>span, .product-grid .fl-button-text, .product-detail-layout-6 .product-variations .color-boxs-inners small, .floorte-color, .featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button, .fl-photo-caption {
    font-size: 14px!important;
}
ul.social-icons a {
    color: #1d4e89;
}
.gform_body.gform-body textarea {
    height: 120px !important;
}
@media (max-width: 768px){
	.uabb-ultb3-img.uabb-ultb3-img-center{
		width: 100% !important;
		height: auto !important;
	}
}
.rmp-menu-item-link > a,
.rmp-menu-additional-content a {
    color: #fff;
}
.featured-products .slick-arrow:before {
  margin-right: 4px !important;
}
.display_none {
  display: none;
}
.firefox .bx-wrapper .bx-loading {
  display: none;
}
.fl-page-nav-right .fl-page-nav-search {
  order: 1;
}
.firefox
  .fl-builder-content
  .bx-wrapper
  .bx-viewport
  .fl-content-slider-wrapper
  .fl-slide {
  visibility: visible;
}
.gform_wrapper li.hidden_label input {
  margin-top: 0px !important;
}
.FloorteProductSlider .featured-products .slick-arrow {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 4px !important;
  z-index: 10 !important;
}
.full-width-img .fl-photo-content,
.full-width-img .fl-photo-content img.fl-photo-img {
  width: 100%;
}

.fl-button {
  color: #fff;
  background-color: #1d4e89;
}
.fl-button,
.uabb-button {
  border: 1px solid #1d4e89 !important;
}
.fl-button span,
.uabb-button span,
form .gform_footer .gform_button {
  font-family: "PT Sans Narrow", sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 1.2 !important;
  text-transform: uppercase !important;
}
.fl-button:hover span,
.uabb-button:hover span,
body .active-gallery-modal .product-box a.fl-button:hover * {
  color: #1d4e89 !important;
}
body.gallery-modal-open #fl-main-content .active-gallery-modal {
  display: none !important;
}
.fl-button:hover,
.uabb-button:hover,
form .gform_footer .gform_button:hover {
  background-color: #fff !important;
  color: #1d4e89 !important;
}
.top-bar .phone a:before,
.top-bar .inline_address a:before,
.fl-page-bar .fl-page-bar-text .phone span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 7px !important;
}
.top-bar .inline_address a:before{
	content: "\f041";
}
.fl-search-form-wrap a.fl-button {
    padding: 0;
    border: 0 !important;
}
#gredientColor > .fl-row-content-wrap {
  background: rgba(251, 254, 249, 1);
  background: -moz-linear-gradient(
    top,
    rgba(251, 254, 249, 1) 0%,
    rgba(251, 254, 249, 1) 80%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(251, 254, 249, 1)),
    color-stop(80%, rgba(251, 254, 249, 1)),
    color-stop(80%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(251, 254, 249, 1) 0%,
    rgba(251, 254, 249, 1) 80%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(251, 254, 249, 1) 0%,
    rgba(251, 254, 249, 1) 80%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(251, 254, 249, 1) 0%,
    rgba(251, 254, 249, 1) 80%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(251, 254, 249, 1) 0%,
    rgba(251, 254, 249, 1) 80%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}

.sliderCaption-center .fl-slide-content-wrap {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.sliderDotsOverlap .bx-pager.bx-default-pager {
  bottom: 25px;
}

.sliderDotsOverlap .bx-wrapper .bx-pager.bx-default-pager a {
  background: #ffffff;
  border: 1px solid #ffffff;
}

.sliderDotsOverlap .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: transparent;
}

.sliderDotsOverlap.fl-module-content-slider .bx-wrapper {
  margin: 0;
}

.fl-photo-caption-below a {
  color: #fff;
}

.captionShow .fl-photo-caption-below {
  bottom: 30px;
  position: absolute;
  left: 40px;
  right: 60px;
  text-align: left;
  z-index: 1;
  color: #fff;
  padding: 10px 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.captionShow .fl-photo-caption-below > a:after {
  content: "\f054";
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  font-family: FontAwesome !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1px;
  margin: 9px 0 0;
  font-weight: 400;
  float: right;
}

.navbar .nav .menu-item-has-children > a:after {
  content: "\f078";
  font-family: FontAwesome !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  vertical-align: top;
  margin: 2px 0 0 10px;
  font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children > a:after {
  content: "\f054";
  position: absolute;
  right: 15px;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.landing_header_description .fl-module-content {
  max-width: 570px;
}

.product-grid .fl-post-grid-post {
  text-align: center;
}

.product-grid .fl-post-grid-post h2.fl-post-grid-title {
  font-size: 20px;
}

/* MegaMenu Comman css  */

.fl-page-nav .navbar-nav .mega-menu .fl-heading,
.fl-page-nav .navbar-nav .mega-menu .fl-heading a {
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  font-size: 24px;
}

.mega-menu .fl-tabs-vertical .fl-tabs-labels {
  width: 15%;
}

.mega-menu .fl-tabs-vertical .fl-tabs-panels {
  width: 85%;
}

ul.navbar-nav li.mega-menu,
ul.navbar-nav li.mega-menu > ul.sub-menu {
  padding: 0;
}

ul.navbar-nav li.mega-menu .fl-tabs-panel-content {
  background: #ffffff;
}

ul.navbar-nav li.mega-menu .fl-tabs-labels .fl-tabs-label.fl-tab-active {
  font-weight: bold;
}

ul.navbar-nav li.mega-menu .fl-tabs-labels .fl-tabs-label.fl-tab-active:after {
  content: "\f105";
  font-size: 30px;
  color: #fff;
  width: auto;
  right: auto;
  position: static;
  margin-left: 10px;
  vertical-align: bottom;
  font-family: FontAwesome !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

ul.navbar-nav li.mega-menu .fl-tabs-panel-content > p {
  display: none;
}

/* FullWidthLinks */

.linkFullWidth,
.linkFullWidth * {
  height: 100%;
  margin: 0 !important;
}

.linkFullWidth a .fl-heading-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  sticky nav */

.fl-page-nav-right.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav > li > a,
.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav > li > a {
  padding: 10px 22px;
}

.fl-page .fl-content-full.container {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: none;
}

.fl-page {
  width: auto !important;
}

.footermenu .menu-item a {
  color: #fbfbfb;
  font-family: Roboto;
  font-size: 12px;
  line-height: 23px;
}
.footermenu .menu-item a:hover,
footer .fl-icon-text a:hover,
#menu-copyright-menu .menu-item a:hover {
  color: #f1463c !important;
}

.home-tab .fl-tabs-labels {
  background-color: #384e77;
}
.top-bar a,
.fl-page-bar .fl-page-bar-text a {
  color: #ffffff;
  font-size: 15px;
  position: relative;
}
.fl-page-bar .fl-page-bar-text a:before {
  left: -20px;
  position: absolute;
}
.phoneno {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.phoneno p {
    margin: 0;
}
.phoneno p:empty {
    display: none;
}
#menu-main-menu-1 {
  /*     max-height: 40px; */
}

.fl-page-nav-centered-inline-logo
  .fl-page-nav
  ul.navbar-nav
  > li.fl-logo-centered-inline {
  margin-top: -65px;
  z-index: 99;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
  max-height: 75px !important;
}

/* .fl-page-header-fixed{
	padding-top:35px;
} */

.fl-post-grid-gallery {
  height: 300px;
}
.top-bar .fl-html a,
.top-bar .fl-html a *,
.fl-page-bar a,
.fl-page-bar a *,
.fl-page-bar a.fas,
.fl-page-bar a.fab {
  color: #fff;
}

.storename {
  padding: 0px;
  margin-bottom: 0px;
}

.store-opening-hrs {
  padding-left: 0px;
}

.color-box {
  text-align: center;
}

.storename .direction a {
  width: 100%;
  display: block;
}

.storename li {
  list-style-type: none !important;
}
.top-bar a:hover,
.fl-page-bar a*:hover {
  color: #fbfbfb !important;
  text-decoration: none;
}

.fl-page-nav .navbar-nav li > a {
  padding: 15px 20px;
}
.fl-page-bar .fl-page-bar-text a:hover {
  text-decoration: none;
}
.product-box h1.fl-post-title {
  font-size: 22px;
}
.fl-row-content-wrap .product-box a {
  margin: 0px auto !important;
}

.social-icons-wrap ul.social-icons {
  text-align: center;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
  max-width: none !important;
  width: 65px;
}

#field_8_2 {
  padding-right: 0px !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}

.fa.fa-star-half-o {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.fa-star-half-o:before {
  content: "\f089" !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -1px !important;
}

.facetwp-per-page select.facetwp-per-page-select {
  width: 100px;
}

.mejs-overlay-play .mejs-overlay-button {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.fl-page-bar .fl-page-bar-text-1 > span {
  margin-left: 20px !important;
  position: relative !important;
  top: -10px !important;
}

.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #1d4e89;
}

.facet_filters strong {
  color: #1d4e89;
}

.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #1d4e89;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #1d4e89;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}

.header_banner > .fl-row-content-wrap {
  min-height: 500px !important;
}

.gfield_checkbox li label a:hover {
  color: #000;
}

div#ui-datepicker-div {
    max-width: 250px;
    background: #fff;
    border: 1px solid #000;
    padding: 20px;
    width: 100%;
  }
  table.ui-datepicker-calendar {
    width: 100%;
  }
  div#ui-datepicker-div a.ui-datepicker-next.ui-corner-all {
    float: right;
  }


.galleryImgs .uabb-photo-gallery-item.uabb-photo-item-grid {
    max-height: 250px!important;
    overflow: hidden;
    height: 250px!important;
    padding: 5px;
}

.galleryImgs .uabb-photo-gallery-item.uabb-photo-item-grid img {
    max-height: 250px!important;
    object-fit: cover;
    height: 100%!important;
}
.galleryImgs .uabb-photo-gallery-item.uabb-photo-item-grid * {
    height: 100%!important;
}

@media (max-width: 1080px) {
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 8px;
  }
  .fl-page-nav-right.fl-page-header-fixed
    .fl-page-nav-wrap
    .navbar-nav
    > li
    > a,
  .fl-page-header-fixed .fl-page-nav-wrap .navbar-nav > li > a {
    padding: 10px 12px;
  }
}

@media (max-width: 1024px) {
  .header_banner > .fl-row-content-wrap {
    min-height: 400px !important;
  }

  .header_banner .fl-row-content,
  .fl-tabs-panel-content .fl-row-content {
    z-index: 2;
  }

  .header_banner > .fl-row-content-wrap:after,
  .fl-tabs-panel-content .fl-row-content-wrap:after {
    border-radius: inherit;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }

  .landing_header_description .fl-module-content {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
	.top-bar .fl-row-content-wrap{
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
	.top-bar .fl-module-html .fl-module-content{
		margin-top: 0;
		margin-bottom: 0;
	}
	.top-bar .phoneno{
		justify-content: center;
	}
  .sliderCaption-center.sliderDotsOverlap .fl-slide-content {
    padding: 20px !important;
  }
  .gform_wrapper .gfield_time_hour i {
    margin-top: 5px !important;
    margin-left: 1px;
  }

  .fl-page-header-logo a .fl-logo-img {
    width: 40% !important;
  }
  #responsive-menu-container
    #responsive-menu
    ul.responsive-menu-submenu
    li.responsive-menu-item
    .responsive-menu-item-link {
    text-transform: uppercase;
  }
  .fl-page-bar-row .text-left,
  .fl-page-bar .fl-page-bar-row .text-right {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0px;
  }
  #responsive-menu-additional-content a {
    color: #fff;
  }
  #responsive-menu-additional-content .phone:before {
    content: "\f095";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: center;
    margin: 2px 5px 0 0px;
    font-weight: 400;
  }
  #responsive-menu-additional-content .address a {
    padding: 0 0 0 17px;
    display: block;
    position: relative;
  }
  #responsive-menu-additional-content .address a:before {
    content: "\f041";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: center;
    margin: 2px 5px 0 0px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 5px;
  }

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
	  text-align: left;
  }
	.facet_filters .facet-wrap {
		text-align: left;
	}
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }

  /* PLP Page Css iPad Air end */

  .captionShow img {
    max-height: 500px;
    min-height: 500px;
    object-fit: cover;
  }

  .captionShow .fl-photo-caption-below {
    right: auto;
  }

  .captionShow .fl-photo-caption-below > a:after {
    margin: 9px 0 0 10px;
  }

  .fl-tabs-panel-content .fl-col.fl-col-small {
    max-width: 100%;
  }

  .header_banner > .fl-row-content-wrap {
    padding: 20px 0 !important;
  }

  footer#djcustom-footer .fl-col,
  footer .fl-col {
    width: 100% !important;
  }

  footer table {
    width: 100% !important;
  }

  .fl-page-content .uabb-module-content.uabb-dual-button.uabb-align-left {
    justify-content: center;
  }

  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content .fl-module-content ul.storename,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .fl-html,
  footer *,
  .fl-callout * {
    text-align: center !important;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .text_left_content .fl-rich-text * {
    text-align: left !important;
  }
}

@media (max-width: 768px) {
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px;
  }
  .fl-page-header-logo a .fl-logo-img {
    width: 35% !important;
  }
  .social-icons-wrap ul.social-icons {
    text-align: left;
  }
  /*.fl-page-bar .fl-page-bar-row .text-left {
        float: left;
    }*/
  /* .fl-col-small{
        max-width: 600px!important;
    } */
  .fl-col-small {
    max-width: 100% !important;
  }
  button#responsive-menu-button {
    top: 77px !important;
  }
  .fl-content-slider-navigation svg {
    background: #000;
  }
}

@media (max-width: 540px) {
  #menu-top-bar-menu li:last-child {
    display: none;
  }
  .fl-page-bar-nav > li > a {
    padding: 2px 5px;
  }
  .fl-page-header-logo a .fl-logo-img {
    width: 60% !important;
  }
  #gform_submit_button_2 {
    width: auto;
  }
}

@media (max-width: 500px) {
  footer .fl-builder-content .footer-resp-width {
    width: 100% !important;
  }
  footer h2.fl-heading {
    text-align: center !important;
  }
  footer .menu,
  footer .fl-module.fl-module-icon {
    text-align: center !important;
  }
  ul#menu-copyright-menu {
    flex-direction: column;
  }
  footer .fl-module-content.fl-node-content {
    margin-right: 20px;
  }
  footer table {
    margin: 0 auto;
  }
  .product-detail-layout-6 .product-attributes tr td {
    word-break: break-all;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
  .fl-page-bar-text.fl-page-bar-text-1 a.phone.retailer {
    display: block !important;
    float: none !important;
  }
  .fl-page-bar-text.fl-page-bar-text-1 ul.storename {
    display: block !important;
    margin-left: 0;
    float: none !important;
  }
  #menu-top-bar-menu,
  .fl-page-bar-text.fl-page-bar-text-1 a.phone.retailer {
    line-height: 24px !important;
  }
  .fl-page-bar-text {
    padding: 0 0 0 5px;
  }
  .fl-page-bar .address a p {
    margin: 4px 0;
  }
}
@media (max-width: 540px){
	.top-bar .phoneno{
		flex-direction: column;
	}
	.top-bar p.inline_address{
		margin: 0;
	}
	button.rmp_menu_trigger {
		top: 60px !important;
	}
}
@media (max-width: 420px){
	button.rmp_menu_trigger {
		top: 90px !important;
	}
}